
<div style="text-align: center" class="jumbotron">
  <h1 style="text-align: center" class="display-4">Welcome to QueueShare</h1>
  <p class="lead">Whether you're on a roadtrip or hosting a great house party, QueueShare will help you democratize the aux.</p>
  <hr class="my-4">
  <%=link_to 'Sign In With Spotify', 'auth/spotify',class:"btn btn-large btn-success"%>
</div>
<div class="container-fluid" style="text-align: center">
  <a class="btn btn-dark" href="https://github.com/mvivarmaas/QueueShare">Github</a>
  <a class="btn btn-dark" href="https://www.linkedin.com/in/max-vivar-maas-5a0397174/">Add me on LinkedIn</a>
</div>

<div style="text-align: center;margin-top: 1mm">
  <p>Created with Ruby on Rails using the <a href="https://github.com/guilhermesad/rspotify">RSpotify</a> wrapper for the Spotify API.</p>
</div>