<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to QueueShare</h1>
    <p class="lead">Whether you're on a roadtrip or hosting a great house party, QueueShare will help you democratize the aux.</p>
    <%=link_to 'Sign In With Spotify', 'auth/spotify' %>
  </div>
</div>